/* NAVBAR 2 css */

/* navbar 2 css */

.padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.navbar {
    height: 72px;
}
.navbar ul li {
    display: inline-block;
}
.orange {
    color: #d37635;
}

.AXIT {
    font-size: 48px;
}

.bg-img {
    background-image: url("../images/image.png");
    /* height: 711px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 175px;
    height: 60;
}

.Modern {
    font-size: 36px;
    color: #ffffff;
    font-weight: 300;
}

.divider {
    color: #ffffff;
    width: 74px;
    border: 1px solid white;
    opacity: 1;
}
.lorem {
    opacity: 0.800;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 300;
}
.section-3{
    box-shadow: 5px ;
}

/* Section 3-1 CSS */

.tab-1 button{
    width: 112px;
    height: 112px;
    background-color:black;
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 5px;
}

.tab-2 button{
    width: 112px;
    height: 112px;
    background-color:black;
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 5px;
}

.tab-3 button{
    width: 112px;
    height: 112px;
    background-color:black;
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 5px;
}

.download {
    background-color: transparent;
    border: white 1px solid;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.card {
    height: 300px;
    width: 300px;

}

.card-header {
    background-color: #f5f5f5;
    size: 20px;
    width: 299px;
    height: 54px;
    font-size: 20px;
    font-weight: 700;
}

input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
    /* background-color: #eee; */
    height: 44px;
}

input:focus {
    outline: none;
}

.card form input {
    width: 95%;
}

.card form input:nth-child(2) {
    margin-top: 20px;
}

.card form input:nth-child(1) {
    margin-top: 20px;
}

.card form input:nth-child(3) {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.card-footer {
    background-color: #d37635;
    font-size: 20px;
    width: 301px;
    height: 54px;
}

.left-img {
    margin-left: -35px;
}

.divider-2 {
    width: 64px;
    border: 1px solid #ff8b38;
    opacity: 1;
}

.upicon {
    border: #ff8b38 2px solid;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.divider-3 {
    width: 64px;
    border: 1px solid #ff8b38;
    opacity: 1;
}

.right-img img {
    margin-left: 39px;
}

.s5 {
    background-color: #f5f5f5;
}

.why {
    font-size: 36px;
    font-weight: 300;
}

.divider-4 {
    width: 64px;
    border: 1px solid #ff8b38;
    opacity: 1;
    margin: 0 auto;
}

.bulb {
    border: #ff8b38 2px solid;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
}

.key {
    border: #ff8b38 2px solid;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
}

.sig {
    border: #ff8b38 2px solid;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
}

.pricing {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    text-align: center;
}

.lorem2 {
    font-size: 20px;
    line-height: 20px;
    color: #86878b;
    font-weight: 400;
    text-align: center;
}

.basic-header {
    background-color: #212121;
    height: 59px;
    width: 343px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2px;
}

.basic-price {
    margin-top: 1px;
    width: 343px;
    height: 150px;
    background-color: #212121;
    color: white;
    text-align: center;
}

.dollar {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.zero {
    font-size: 70px;
    font-weight: 700;
}

.basic-text {
    opacity: 0.502;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.basic-things {
    background-color: white;
    width: 343px;
}

.basic-things ul li {
    list-style: none;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: 300;
    padding-top: 5px;
    border-bottom: 1px gray solid;
}

.basic-things ul {
    padding: 0px;
}

.basic-things ul li:nth-child(6) {
    border-bottom: none;
}

.divider-5 {
    width: 343px;
    border: 1px solid #ff8b38;
    opacity: 1;
    margin: 0 auto;
    margin-left: -0px;
}

.popular {
    height: 40px;
    width: 343px;
    background-color: #ff8b38;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.message {
    background-color: #dbdbdc;
    border-radius: 10px;
}

.u25_state {
    background-image: url("../images/u25_state0.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.stylish {
    font-size: 36px;
    color: #ffffff;
}

.divider-6 {
    color: #ffffff;
    width: 74px;
    border: 1px solid white;
    opacity: 1;
    margin: 0 auto;
}
.Contact{
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    text-align: center;
}
form.contact-form input {
    width: 100%;
}
.text-area {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.send-button button{
    height: 46px;
    width: 148px;
    color: white;
    background-color: #ff8b38;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
}
.bars{
    color: white;
    display: none;
}

@media only screen and (max-width : 1242px){
    .Basic{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
    }
    .basic-header{
        width: 100%;
    }
    .basic-price{
        width: 100%;
    }
    .basic-things{
        width: 100%;
    }
    .popular{
        width: 100%;
    }
    .divider-5{
        width: 100%;
    }
    .bg-img {
        height: 1200px;
    }
    .right-img{
        padding-top: 40px;
    }
}

@media only screen and (max-width : 1024px){
    .bg-img{
        height: 600px;
    }
}


@media only screen and (max-width : 768px){
    .bg-img{
        height: 1000px;
    }
    .card{
        margin-top: -65px !important;
        margin: 0 auto;
    }
    .tabs-group{
        display: flex !important;
        justify-content: center;
    }
    .tab-1{
        margin: 10px;
    }
    .tab-2{
        margin: 10px;
    }
    .tab-3{
        margin: 10px;
    }
    .data-1{
        justify-content: center;
        text-align: center;
    }
    .send-button{
        text-align: center;
    }
    .shadow-img{
        padding-top: 30px;
        text-align: center;
    }
    .Basic{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
    }
    .basic-header{
        width: 100%;
    }
    .basic-price{
        width: 100%;
    }
    .basic-things{
        width: 100%;
    }
    .popular{
        width: 100%;
    }
    .divider-5{
        width: 100%;
    }
    .left-img{
        text-align: center;
    }
    .right-img{
        margin-right: 39px;
    }
}
@media only screen and (max-width : 516px){
    .Basic{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
    }
    .basic-header{
        width: 100%;
    }
    .basic-price{
        width: 100%;
    }
    .basic-things{
        width: 100%;
    }
    .popular{
        width: 100%;
    }
    .divider-5{
        width: 100%;
    }
    .left-img{
        text-align: center;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 425px){
    .bg-img{
        height: 1200px;
    }
}